// .card {
//   margin-bottom: 20px;
//   margin-top: 20px;
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   min-width: 0;
//   word-wrap: break-word;
//   background-clip: border-box;
//   border: 1px solid rgba(0,0,0,.125);
//   border-radius: 0.25rem;
// }

.card-body {
  height: 100%;
}


/* Style pour les images de fond des cartes */
.card-bg-image {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.card-title {
  color: #000439;
}
