.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 1;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Appliquer une belle police au titre */
.card-title {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
}

/* Appliquer une police différente à la description */
.card-text {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  background-color: white; /* Fond blanc pour la description */
  padding: 10px; /* Ajouter un peu de padding pour l'espacement */

  &:first-letter {
    text-transform: uppercase;
  }
}

/* Mettre le prix et le nom du user en gras */
.card-text strong {
  font-weight: bold;
  text-transform: capitalize;
}

.btn {
  border-radius: 10px;
  width: 100%;
  text-transform: capitalize;
}

.btn:hover{
  background-color: purple;
  text-transform: capitalize;
}
