/* .card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  text-transform: capitalize;
}

.card-trip p {
  font-size: 20px;
  color: black;
  opacity: .7;
  margin-left: 50px;

  &:first-letter {
    text-transform: uppercase;
  }

}


.card-trip .card-trip-infos {
  padding: 20px;
  //display: flex;
  justify-content: space-between;
  align-items: flex-center;
  position: relative;

}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 98%;
  text-align: center;
}

.btn-ghost:hover {
  opacity: 1;
}

.card-trip-pricing {
  text-align: center;
}
 */


 .card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);




  .image {
    max-width: 100%;

  }
  .title {
    font-size: 24px;
    margin-top: 10px;
  }
  .description {
    flex: 2;
    margin-top: 10px;
  }
  .price {
    flex: 1;
    margin-top: 10px;
    background-color: #F0F0F0;
    text-align: center;
    padding: 5px;
  }
}
