
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="card">
  <div class="image"><%= image_tag "flechette.jpg" %>
    <h2 class="title"><%=@article.name%></h2>
    <p class="description"><%=@article.description%></p>
    <div class="price">Prix: <%=@article.price%>€</div>
    </div>
  </div>
</body>
</html>
