.btn {
  border-radius: 10px;
  width: 100%;
  text-transform: capitalize;
}

.btn-modifier {
  border-radius: 10px;
  width: 70%;
  text-transform: capitalize;
}

.btn:hover{
  background-color: purple;
  text-transform: capitalize;
}

.container-booking {
  margin-top : 50px;
}

.btn-search {
  width: 20%;
}

.btn-show {
  width: 40%;
  position: center;
}
