.card {
  border: 1px solid #000439;
  border-radius: 15px !important;
  box-shadow: 5px 5px 10px rgba(96, 1, 85, 0.3);
  height: 430px;
  padding-bottom: 25px;
}

.card-show {
  height: 550px !important;
  padding: 10px 10px 10px 10px ;
}

.card-body {
  height: 100%;
  padding-bottom: 25px
}

/* Style pour les images de fond des cartes */
.card-bg-image {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.card-title {
  color: #000439;
  font-weight: bold;
}
