<div class="footer">
    <p> Plus de stress pour vos soirées déjantées</p>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Vos meilleures soirées avec ViveLaFete ! <i class="fas fa-heart"></i>
  </div>
</div>
